<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>Lonely Planet Scraper</title>

		<!-- Google Fonts -->
		

    <!--Bootstrap CSS-->
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 		<!--Optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- My Stylesheet -->
		<link rel="stylesheet" href="../../public/assets/css/style.css">

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Lonely Planet Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon mr-auto"></span>
		</button>
    <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="nav navbar-nav mr-auto">
	      <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item active"><a class="nav-link" href="/saved">Saved Articles</a></li>
        <li class="nav-item active"><button type="button" class="btn btn-info" id="scrape">Scrape New Articles</button></li>
	    </ul>
	  </div>
	</nav>

	<div class="jumbotron jumbotron-fluid">
	  <div class="container text-center" id="jumbo-container">
	    <h1 class="display-4">Lonely Planet: The Latest</h1>
	    <p class="lead">Check out the latest news &amp; articles from Lonely Planet.</p>
	  </div>
	</div>

	{{{ body }}}

	{{!-- SCRIPT LINKS --}}

	<!--jQuery Library-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest Compiled and Minified jQuery -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script> 

	<!-- Bootstrap Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<!-- Boostrap Minified JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- My JavaScript -->
	<script type="application/javascript" src="/assets/js/app.js"></script>
	
</body>