body {
	font-family: 'Cabin Sketch', cursive;
	background-image: url("https://tinyurl.com/y8p9lfky");
/*	background-image: url("https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: darkslategray;
}

.navbar {
	color: darkslategray;
}

.navbar-brand {
	font-family: 'Fredericka the Great', cursive;
	font-size: 24px;
}

#navbarNav {
	font-size: 18px;
}

#scrape {
	margin-left: 5px;
}

.jumbotron {
/*	background-image: url("https://tinyurl.com/y8p9lfky");*/
	height: 500px;
	padding-top: 175px;
	color: lightyellow;
/*	font-family: "Kranky", cursive;*/
	font-family: 'Fredericka the Great', cursive;
	background-color: black;
	opacity: .9;
}

.lead {
	font-family: 'Cabin Sketch', cursive;
	font-size: 24px;
}

#lead1 {
	margin-top: 24px;
}

#lead2 {
	font-family: 'Fredericka the Great', cursive;
}

.card {
	border-width: 2px;
	border-color: lightyellow;
	opacity: .98;
}
